*{

}

body{
font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #FF00FF;
}

.quem-somos{
    background-color: aqua;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: aquamarine;
}

.bg-footer{
    background-color: black;
    color: white;
}